<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.humhahey.mapper.PurchaseRecordMapper">
    <insert id="insetPurchaseRecord" parameterType="purchaseRecord" keyProperty="id" useGeneratedKeys="true">
        insert into purchase_record (user_id, product_id, price, quantity, sum, purchase_date, note)
        VALUES (#{userId},#{productId},#{price},#{quantity},#{sum},now(),#{note})
    </insert>
</mapper>