<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.humhahey.mapper.UserMapper">
    <select id="getUser" parameterType="Long" resultType="user">
        select id,username,note,sex from user where id=#{id}
    </select>
    <insert id="insertUser" parameterType="user" keyProperty="id" useGeneratedKeys="true">
        insert into user (username, note, sex) value (#{username},#{note},#{sex})
    </insert>
</mapper>